*{
    box-sizing: border-box;
}

.boxStart {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid;
} 

.ghost {
    position: absolute;
    height: 100%;
    width: 80%; 
    top: 0;
    left: 10%;
    border: 1px solid blue;
}